@import "../../stylessheet/base.scss";

.container {
  width: 340px;
  margin: 0 auto;
  padding: 25px 16px 18px 16px;
  display: flex;
  flex-direction: column;

  background: #ffffff;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  font-size: 14px;
  line-height: 0.93;
  letter-spacing: 0.04em;

  @include tablet {
    width: 570px;
    padding: 29px 35px 35px 35px;
  }
}

.logo {
  margin: 0 auto;
  margin-bottom: 24px;
}

.logoImg {
  width: 54.57px;
  height: 56px;
  @include tablet {
    width: 79.91px;
    height: 82px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 24px;
}

.formContainer {
  width: 308px;

  @include tablet {
    width: 500px;
  }
}

.label {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #5b5b5b;
}

.gender {
  display: flex;
  padding-left: 0px;

  @include tablet {
    justify-content: space-between;
    width: 500px;
  }
}

.genderList {
  fill: #5b5b5b;
  stroke: #c1c1c1;
  stroke-width: 0.1;
  @include tablet {
    stroke-width: 0.8;
  }
}

.genderList:hover,
.genderList:focus {
  fill: #3c9c41;
  stroke: #3c9c41;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.genderList:not(:last-child) {
  margin-right: 19px;
}

.formGroup:hover,
.formGroup:focus {
  fill: #3c9c41;
}

.eyeIcon {
  fill: #9b9faa;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.eyeIconBtnPassword {
  background-color: transparent;
  position: absolute;
  top: 55%;
  right: 3%;

  border-radius: 50%;
  border: none;

  @include tablet {
    top: 51%;
    right: 3%;
  }
}

.eyeIconBtnConfirm {
  background-color: transparent;
  position: absolute;

  top: 55%;
  right: 3%;

  border-radius: 50%;
  border: none;

  @include tablet {
    top: 51%;
    right: 3%;
  }
}

.additionalInfo {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #5b5b5b;
}

.link {
  color: $accent-color;
  font-weight: 700;
  margin: 0 0 0 5px;
}
